---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Souissi | Visual Architect"
	description="الأرشيف البصري الرسمي للمحلل السينمائي سويسي."
	pubDate={new Date('May 27 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h1>أهلاً بك في الأرشيف البصري</h1>
	<p>
		أنا سويسي، وهذا الموقع هو المساحة المستقلة لتفكيك لغة السينما (Cinematography) وتحليل الـ Visual Storytelling.
	</p>
	<p>
		لقد بنيت هذا المكان لنخرج من ضيق الكابشنات إلى رحابة التحليل المعمق. هنا نجمع التاريخ بالمعرفة لنكشف ما وراء كل كادر.
	</p>
	<p>
		يمكنك استكشاف المقالات والتحليلات السينمائية عبر تبويب <b>Blog</b> في الأعلى.
	</p>
</Layout>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
